name: Deploy to Azure Container Apps

on:
  workflow_dispatch:
  push:
    branches: [master]

env:
  AZURE_CONTAINER_REGISTRY: smartplyapi
  CONTAINER_APP_NAME: smartply-api
  RESOURCE_GROUP: personal-projects

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Build
        run: dotnet build ./backend/backend.csproj --configuration Release

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

      - name: Build and push container image to ACR
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME }}:${{ github.sha }}
          file: backend/Dockerfile
          target: final

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Run EF Core Migrations
        run: |
          dotnet tool install --global dotnet-ef
          dotnet ef database update --project backend/backend.csproj --connection '${{ secrets.DEFAULT_CONNECTION }}'
        env:
          ASPNETCORE_ENVIRONMENT: "Production"

      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v1
        with:
          imageToDeploy: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME }}:${{ github.sha }}
          resourceGroup: ${{ env.RESOURCE_GROUP }}
          containerAppName: ${{ env.CONTAINER_APP_NAME }}
          environmentVariables: >-
            ASPNETCORE_ENVIRONMENT=Production
            ConnectionStrings__DefaultConnection='${{ secrets.DEFAULT_CONNECTION }}'
            Jwt__Key='${{ secrets.JWT_KEY }}'
            Jwt__Issuer='${{ secrets.VITE_API_URL }}'
            Jwt__Audience='${{ secrets.FRONTEND_URL }}'
            VITE_API_URL='${{ secrets.VITE_API_URL }}'
            FRONTEND_URL='${{ secrets.FRONTEND_URL }}'
            DOMAIN=`${{ secrets.DOMAIN }}`
            Jwt__ExpirationInMinutes=15
            Jwt__RefreshTokenExpirationDays=30
            Google__ClientId='${{ secrets.GOOGLE_CLIENT_ID }}'
            Google__ClientSecret='${{ secrets.GOOGLE_CLIENT_SECRET }}'
            Google__RedirectUri='${{ secrets.GOOGLE_REDIRECT_URI }}'
            Google__Scopes='openid email profile https://www.googleapis.com/auth/gmail.readonly'
            EmailSettings__MailServer=smtp.gmail.com
            EmailSettings__MailPort=587
            EmailSettings__SenderName=SmartPly
            EmailSettings__FromEmail=medtahalog@gmail.com
            EmailSettings__Password='${{ secrets.EMAIL_SETTINGS_PASSWORD }}'
            Supabase__ServiceRoleKey='${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}'
            Supabase__Url='${{ secrets.SUPABASE_URL }}'
            Gemini__Credentials__ApiKey='${{ secrets.GEMINI_CREDENTIALS_API_KEY }}'
            Gemini__Model=gemini-2.5-flash
