name: Deploy to Azure Container Apps

on:
  workflow_dispatch:
  push:
    branches: [master]

env:
  AZURE_CONTAINER_REGISTRY: smartplyapi
  CONTAINER_APP_NAME: smartply-api
  RESOURCE_GROUP: personal-projects

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

      - name: Build and push container image to ACR
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME }}:${{ github.sha }}
          file: backend/Dockerfile

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy-action@v1
        with:
          imageToDeploy: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME }}:${{ github.sha }}
          resourceGroup: ${{ env.RESOURCE_GROUP }}
          containerAppName: ${{ env.CONTAINER_APP_NAME }}
          environmentVariables: >-
            ASPNETCORE_ENVIRONMENT=Production
            ConnectionStrings__DefaultConnection='${{ secrets.DEFAULT_CONNECTION }}'
            Jwt__Key='${{ secrets.JWT_KEY }}'
            Jwt__Issuer='${{ secrets.JWT_ISSUER }}'
            Jwt__Audience='${{ secrets.JWT_AUDIENCE }}'
            Jwt__ExpirationInMinutes=15
            Jwt__RefreshTokenExpirationDays=30
            Google__ClientId='${{ secrets.GOOGLE_CLIENT_ID }}'
            Google__ClientSecret='${{ secrets.GOOGLE_CLIENT_SECRET }}'
            Google__RedirectUri='${{ secrets.GOOGLE_REDIRECT_URI }}'
            Google__Scopes='openid email profile https://www.googleapis.com/auth/gmail.readonly'
            EmailSettings__MailServer=smtp.gmail.com
            EmailSettings__MailPort=587
            EmailSettings__SenderName=SmartPly
            EmailSettings__FromEmail=medtahalog@gmail.com
            EmailSettings__Password='${{ secrets.EMAIL_SETTINGS_PASSWORD }}'
            Frontend__BaseUrl='${{ secrets.FRONTEND_URL }}'
            Supabase__ServiceRoleKey='${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}'
            Supabase__Url='${{ secrets.SUPABASE_URL }}'
            Gemini__Credentials__ApiKey='${{ secrets.GEMINI_CREDENTIALS_API_KEY }}'
            Gemini__Model=gemini-2.5-flash
